!.idea/codeStyles
!.idea/google-java-format.xml
!.idea/runConfigurations
*.bak
*.eml
*.iml
*.log
*.log*
*.temp
*.tmp
.*.bak
.DS_Store
.angular/*
.classpath
.factorypath
.git/
.idea/*
.metadata/*
.project
.recommenders/*
.rewrite-cache/
.settings/
.tern-project
.vscode/
RemoteSystemsTempFiles/*
Servers/*
app-bundle.js
bin/
build/
certs/*Ness*.jks
data/
infrastructure/**/*config.y*ml
infrastructure/**/*output.y*ml
logs/
node/
node_modules/
pom.xml.versionsBackup
target/
workingDir/
workspace/
